.container{
  padding: 70px;
}


h1{
  padding: 10px;
  font-size: 1.5rem;
  color: rgb(105, 105, 105);
}
.login{
  
  border-radius: 10px;
  margin: auto;
  max-width: auto;
  align-items: center;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  padding: 50px;
  box-shadow: 10px 5px 5px rgba(91, 85, 85, 0.386);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.input{
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  box-shadow: 10px 5px 5px rgba(91, 85, 85, 0.386);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
button{
  border-radius: 5px;
  padding: 5px;
  width: 160px;
  margin-top: 5px;
  background-color: aquamarine;
  box-shadow: 10px 5px 5px rgba(91, 85, 85, 0.386);
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}